.contact-logo{
    opacity: 0.6;
    width:25px;
    height:25px;
}

.contact-logo:hover, .mail-logo:hover{
    opacity: 1;
}

.mail-us,.mail-us:hover,.mail-logo, .mail-logo:hover,.mail-details, .mail-details:hover{
    cursor:pointer; 
    text-decoration: none;
}


#footer-cotainer{
    text-align: center;
    background-color:#17181b;
    padding:10px 10px 10px 10px;
    font-size:15px;
    color:#fff;
    bottom: 10px;
    width: 100%;
    width: inherit;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row;

}

#footer-cotainer h6{
    color:#fff;
    font-size:12px;
    text-transform: uppercase;
    margin-top:15px;
    letter-spacing:2px;
    display: inline;
    vertical-align: middle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.footer-content, #uri, #shahar{
    width: 100%;
    float: left;
    font-size: 1em;
    display: inline;
}

.social-links li{
    display: inline;
    text-align: center;
    text-decoration: none;
}

.content {
    flex: 1 0 auto; 
    padding: 20px;
  }