*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Fredoka", sans-serif;
	font-size: 15px;
	background: url("../images/back_game2.png");
	background-repeat: no-repeat;
	min-height: 100vh;
	padding: 1rem;
	background-size: cover;
}
p {
	font: 1rem 'Fira Sans', sans-serif;
}
input {
	margin: .4rem;
}
label {
	text-align: center;
	margin: 0.5px 0 10px;
	font-size: 16px;
	color: black;
	/* text-shadow: 0.5px 0.5px 1px #eef1ff;  */
	font-family: 'Handlee', sans-serif;
	font-weight: bold;
}
#l1, #l2{
	text-align: center;
	margin: 0.5px 0 10px;
	font-size: 16px;
	color: rgb(243, 229, 26);
	/* text-shadow: 0.5px 0.5px 1px #eef1ff;  */
	font-family: 'Handlee', sans-serif;
	font-weight: bold;
}
.txt, span, .slidecontainer{
	text-align: center;
	margin: 0px 0 10px;
	font-size: 13.5px;
	color: rgb(255, 255, 255);
	font-family: 'Handlee', cursive;
	white-space: normal ;
	font-weight: bold;
	text-shadow: none;				
}

nav {
	margin: 27px auto 0;
	position: sticky;
	top: 0;
	z-index: 100;
	width: 460px;
	height: 50px;
	/* background-color: #f7e707; */
	background: url("../images/btn2.jpg");
	background-size: 100%; /* To fill the dimensions of container (button), or */
    background-size: 100px auto;
	border-radius: 8px;
	font-size: 0;
	text-align: center;
  }
  nav a {
	line-height: 50px;
	height: 100%;
	font-size: 20px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: rgb(248, 224, 8);
	text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 252), 0 0 5px rgb(7, 7, 7);
	cursor: pointer;
	font-weight: bold;
  }
  nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
  }
  a:nth-child(1) {
	width: 115px;
  }
  a:nth-child(2) {
	width: 115px;
  }
  a:nth-child(3) {
	width: 115px;
  }
  a:nth-child(4) {
	width: 115px;
  }
  
  nav .start-home, a:nth-child(1):hover~.animation {
	width: 115px;
	left: 0;
	background-color: #dbd53457;
  }
  nav .start-about, a:nth-child(2):hover~.animation {
	width: 115px;
	left: 115px;
	background-color: #ada765;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
	width: 115px;
	left: 230px;
	background-color: #dbd53457;
  }
  nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 115px;
	left: 345px;
	background-color: #ada765;
  }
  #logo{
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
}
a:hover{
	opacity: 1;
}

#heart {
    content: "\2764";
	size: 36px;
	color: "red";
}
/* main { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
} */
/* 
article {
    max-width: 300px;
    margin: 20px 10px 0;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #333; 
    position: relative; 
    background-color: white;
}

.imgg {
    display: block;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
} */

/* 
.like {
    width: 48px;
    height: 48px;
    position: absolute; 
    top: 2%; 
    left: 2%; 
}

.like-no {
    background: url("img/dislike.svg") no-repeat;
}

.like-yes {
    background: url("img/like.svg") no-repeat;
}

@media only screen and (min-width: 768px) {
    article:last-child {
      margin-bottom: 0;
    }
  } */
/* 
  .container{
	  width: 100%;
	  background: #ebf7f9;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  } */